<!DOCTYPE html>
<html>
	<head>
        <title>Nuovo Artista</title>
        <link rel="stylesheet" href="/css/newEntity.css" />
        <script src="/js/updatePreview.js"></script>
    </head>

    <body>
		<header>
		    <div th:if="${userDetails}">
			    <span><a th:href="@{'/userPage/' + ${userDetails.username}}" th:text="${userDetails.username}"></a></span>
			    <a href="/logout">Logout</a>
		    </div>
		    <div th:unless="${userDetails}">
			    <a href="/login">Login</a>
		    </div>
		    <div class="homepage">
				<a href="/"><img src="/images/ciak.png"></a>
			</div>
	    </header>
	    
	    <h4 class="goBack"><a href="/indexArtist">Indice Artisti</a></h4>
		
        <h1>Aggiungi un artista</h1>
        
        <div>
            <form th:action="@{/newArtist}" method="POST" th:object="${artist}" enctype="multipart/form-data">
                <h3 th:if="${#fields.hasGlobalErrors()}">
		    		<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">...</p>
		    	</h3>
			
                <h3>
                    <span>Nome: </span>
                    <span><input required type="text" th:field="${artist.name}"/></span>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'color:red'"></span>
                </h3>
                <h3>
                    <span>Cognome: </span>
                    <span><input required type="text" th:field="${artist.surname}"/></span>
                    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" th:style="'color:red'"></span>
                </h3>
                <h3>
                    <span>Anno di nascita: </span>
                    <span><input required type="number" th:field="${artist.birth}"/></span>
                    <span th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" th:style="'color:red'"></span>
                </h3>
                <h3>
                    <span>Anno di morte: </span>
                    <span><input type="number" th:field="${artist.death}"/></span>
                    <span th:if="${#fields.hasErrors('death')}" th:errors="*{death}" th:style="'color:red'"></span>
                </h3>
            
                <label>
                    Aggiungi immagine (.jpg o .png)
                    <input required type="file" name="fileImage" accept="image/png, image/jpeg" onchange="updatePreview(this, 'preview')" />
                </label>
                <div>
                    <img id="preview" src="/images/placeholder2.png" alt="preview" />
                </div>
            
                <div>
                    <span><button type="submit">Conferma</button></span>
                </div>
            </form>
        </div>
        
    </body>
    
</html>