<!DOCTYPE html>
<html>
	<head>
        <title>Operazioni Artisti</title>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    
    <body class="mime">
		<header>
		    <div th:if="${userDetails}">
			    <span><a th:href="@{'/userPage/' + ${userDetails.username}}" th:text="${userDetails.username}"></a></span>
			    <a href="/logout">Logout</a>
		    </div>
		    <div th:unless="${userDetails}">
			    <a href="/login">Login</a>
		    </div>
		    <div class="homepage">
				<a href="/"><img src="/images/ciak.png"></a>
			</div>
	    </header>
		
		<div class="spaceMaker"></div>
		
		<div class="options">
		    <h2>Operazioni su artisti possibili:</h2>

            <a href="/artists"><h1>Cerca Artisti</h1></a>
            <a href="/artistNews"><h1>Cerca Notizie su Artisti</h1></a>
            
            <a href="/formNewArtist" th:style="'color:slategrey'"><h1>Inserisci nuovo artista</h1></a>
            <a href="/manageArtists" th:style="'color:slategrey'"><h1>Gestisci artisti correnti</h1></a>
		</div>
		
	</body>
	
</html>