<!DOCTYPE html>
<html>
	
	<head>
		<title>Notizia</title>
		<link rel="stylesheet" href="/css/management/data.css" />
		<script src="/js/updatePreview.js"></script>
	</head>
	
	<body>
		<header>
		    <div th:if="${userDetails}">
			    <span><a th:href="@{'/userPage/' + ${userDetails.username}}" th:text="${userDetails.username}"></a></span>
			    <a href="/logout">Logout</a>
		    </div>
		    <div th:unless="${userDetails}">
			    <a href="/login">Login</a>
		    </div>
		    <div class="homepage">
				<a href="/"><img src="/images/ciak.png"></a>
			</div>
	    </header>
		
		<div class="data">
		
			<h2>Immagine attuale</h2>
			<span th:if="${news.image}"><img th:src="@{${news.imagePath}}"></span>
			<span th:unless="${news.image}">Nessuna</span>
		
		    <form th:action="@{'/setNewsImage/' + ${news.id}}" method="POST" enctype="multipart/form-data">
                <label>
                    Seleziona immagine (.jpg o .png)
                    <input type="file" name="fileImage" accept="image/png, image/jpeg" onchange="updatePreview(this, 'preview')" />
                </label>
                <div>
                    <img id="preview" src="/images/placeholder2.png" alt="preview" />
                </div>
                <div>
					<button type="submit">Invia</button>
				</div>
            </form>
        
            <form class="end" th:action="@{'/formUpdateNews/' + ${news.id}}" method="GET">
                <div>
                    <span><button type="submit">Termina Modifica</button></span>
                </div>
            </form>
        
        </div>
		
	</body>
	
</html>