<!DOCTYPE html>
<html>
	
	<head>
		<title>Movimenti Artistici</title>
		<link rel="stylesheet" href="/css/list.css" />
	</head>
	
	<body>
		<header>
			<div class="header_text" th:if="${userDetails}">
				<div><a th:href="@{'/userPage/' + ${userDetails.username}}" th:text="${userDetails.username}"></a></div>
			</div>
			<div class="header_text" th:if="${userDetails}">
				<div><a href="/logout">Logout</a></div>
			</div>
			<div class="header_text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
			<div class="header_image">
				<a href="/"><img src="/images/Oil-Fall.jpg" alt="fall"></a>
			</div>
		</header>
		
		<h1>Movimenti Artistici</h1>
		
		<form th:action="@{'/searchMovements'}" method="POST">
			<input type="text" name="input" placeholder="Cerca per nome">
			<span><button type="submit">Cerca</button></span>
		</form>
		
		<div class="na" th:if="${movements==null || movements.isEmpty()}">Non ci sono movimenti artistici nel sistema</div>
		<ul>
		    <div th:each="movement : ${movements}">
				
				<div class="needSpace">
				    <h3>
			            <a th:href="@{'/movements/' + ${movement.id}}"
				           th:text="${movement.name}">Nome Movimento</a>
				        <span th:if="${movement.endDate}" th:text="${'(~' + movement.startDate} + ' - ~' + ${movement.endDate} + ')'">(~XXXX - ~YYYY)</span>
			            <span th:unless="${movement.endDate}" th:text="'(~' + ${movement.startDate} + '- Contemporaneo)'">(~XXXX - Contamporaneo)</span>
			        </h3>
			        <div th:if="${userDetails}">
			            <div th:each="authority : ${#authentication.getAuthorities()}">
			                <div th:if="${authority.getAuthority().equals('ADMIN')}">
			    	            <form class="sideButton" th:action="@{'/deleteMovement/' + ${movement.id}}" method="POST">
			    	                <span><button type="submit">Cancella</button></span>
			                    </form>
			                </div>
			            </div>
		            </div>
		        </div>
			    
			    <div>
					<ul class="mainWorks">
			            <li th:each="work : ${movement.mainWorks}">
							<div>
			                    <img th:src="@{${work.imagePath}}">
			                </div>
		                </li>
		            </ul>
		        </div>
	    </ul>
	    
	</body>
	
</html>