<!DOCTYPE html>
<html>
	
	<head>
		<title>Artisti</title>
		<link rel="stylesheet" href="/css/list.css" />
	</head>
	
	<body>
		<header>
			<div class="header_text" th:if="${userDetails}">
				<div><a th:href="@{'/userPage/' + ${userDetails.username}}" th:text="${userDetails.username}"></a></div>
			</div>
			<div class="header_text" th:if="${userDetails}">
				<div><a href="/logout">Logout</a></div>
			</div>
			<div class="header_text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
			<div class="header_image">
				<a href="/"><img src="/images/Oil-Fall.jpg" alt="fall"></a>
			</div>
		</header>
		
		<h1>Artisti</h1>
		
		<form th:action="@{'/searchArtists'}" method="POST">
			<input type="text" name="input" placeholder="Cerca per nome">
			<span><button type="submit">Cerca</button></span>
		</form>
		
		<div class="na" th:if="${artists==null || artists.isEmpty()}">Non ci sono artisti nel sistema</div>
	    <ul>
		    <li th:each="artist : ${artists}">
				
				<div class="top">
				    <h3 th:unless="${artist.death}">
                        <a th:href="@{'/artists' + '/' + ${artist.id}}"
                           th:text="${artist.name} + ' (' + ${artist.birth} + '-In vita)'">Nome Artista (XXXX-In vita)</a>
                    </h3>
                    <h3 th:if="${artist.death}">
                        <a th:href="@{'/artists' + '/' + ${artist.id}}"
                           th:text="${artist.name} + ' (' + ${artist.birth} + '-' + ${artist.death} + ')'">Nome Artista (XXXX-YYYY)</a>
                    </h3>
				    <div th:if="${userDetails}">
			            <div th:each="authority : ${#authentication.getAuthorities()}">
			                <div th:if="${authority.getAuthority().equals('ADMIN')}">
				                <form class="sideButton" th:action="@{'/deleteArtist/' + ${artist.id}}" method="POST">
				                    <span><button type="submit">Cancella</button></span>
			                    </form>
			                </div>
			            </div>
		            </div>
				</div>
				
				<div th:if="${artist.image}">
			        <img th:src="@{${artist.imagePath}}">
		        </div>
				
		    </li>
	    </ul>
	    
	</body>
	
</html>