<!DOCTYPE html>
<html>
	
	<head>
		<title>Gestisci Artisti dell'Opera</title>
		<link rel="stylesheet" href="/css/list.css" />
	</head>
	
	<body>
		<header>
			<div class="header_text" th:if="${userDetails}">
				<div><a th:href="@{'/userPage/' + ${userDetails.username}}" th:text="${userDetails.username}"></a></div>
			</div>
			<div class="header_text" th:if="${userDetails}">
				<div><a href="/logout">Logout</a></div>
			</div>
			<div class="header_text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
			<div class="header_image">
				<a href="/"><img src="/images/Oil-Fall.jpg" alt="fall"></a>
			</div>
		</header>
		
		<a class="back" th:href="@{/works}">Torna all'indice</a>
		
		<h1>Creatori dell'Opera 
			<a th:href="@{'/works/' + ${work.id}}" th:text="${work.name}">Neoclassicismo</a>
		</h1>
		
		<!-- Creatore dell'Opera -->
		<h2 class="mov">
		    <div th:if="${work.artist}">
				<div class="top">
			        <a th:href="@{'/artists/' + ${work.artist.id}}">
			            <span class="name" th:text="${work.artist.name}">Nome Artista</span>
			            <span th:if="${work.artist.death}" th:text="${'(' + work.artist.birth} + '-' + ${work.artist.death} + ')'">(XXXX-YYYY)</span>
			            <span th:unless="${work.artist.death}" th:text="'(' + ${work.artist.birth} + '-In vita)'">(XXXX-In vita)</span>
			        </a>
			        <form class="sideButton" th:action="@{'/removeArtistFromWork/' + ${work.artist.id} + '/' + ${work.id}}" method="POST">
				        <span><button type="submit">Rimuovi</button></span>
			        </form>
			    </div>
			    <div th:if="${work.artist.image}">
				    <img class="singleImage" th:src="@{${work.artist.imagePath}}">
			    </div>
		    </div>
		</h2>
		<h2>
		    <div class="na" th:unless="${work.artist}">Non Registrato</div>
		</h2>
		<br>
	    
	    <!-- Artisti registrati -->
	    <h1>Altri Artisti nel sistema</h1>
	    <ul>
		    <li th:each="artist : ${artists}">
				<div class="top">
			        <a th:href="@{'/artists/' + ${artist.id}}">
				        <span th:text="${artist.name}">Nome Artista</span>
				        <span th:if="${artist.death}" th:text="${'(~' + artist.birth} + ' - ~' + ${artist.death} + ')'">(XXXX-YYYY)</span>
			            <span th:unless="${artist.death}" th:text="'(~' + ${artist.birth} + '- In Vita)'">(XXXX-In Vita)</span>
			        </a>
			        <form class="sideButton" th:action="@{'/setArtistToWork/' + ${artist.id} + '/' + ${work.id}}" method="POST">
					    <span><button type="submit">Aggiungi</button></span>
				    </form>
			    </div>
			    
			    <div class="spaceMaker"></div>
			    
			    <br>
			    <div th:if="${artist.image}">
			        <img th:src="@{${artist.imagePath}}">
		        </div>
		    </li>
	    </ul>
	    
	</body>
	
</html>