<!DOCTYPE html>
<html>
	
	<head>
		<title>Nuova Opera</title>
		<link rel="stylesheet" href="/css/form.css" />
		<script src="/js/updatePreview.js"></script>
	</head>
	
	<body>
		<header>
			<div class="header_text" th:if="${userDetails}">
				<div><a th:href="@{'/userPage/' + ${userDetails.username}}" th:text="${userDetails.username}"></a></div>
			</div>
			<div class="header_text" th:if="${userDetails}">
				<div><a href="/logout">Logout</a></div>
			</div>
			<div class="header_text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
			<div class="header_image">
				<a href="/"><img src="/images/Oil-Fall.jpg" alt="fall"></a>
			</div>
		</header>
		
		<h1>Dettagli Opera</h1>
		<form th:action="@{newWork}" method="POST" th:object="${work}" enctype="multipart/form-data">
			<div>
			    <h3 th:if="${#fields.hasGlobalErrors()}">
			    	<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore!</p>
			    </h3>
			
			    <h3>
			    	<span>Nome opera:</span>
			    	<span><input required type="text" th:field="${work.name}"></span>
			    	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'color:red'"></span>
		    	</h3>
		    	<h3>
			    	<span>Data creazione:</span>
			    	<span><input required type="number" th:field="${work.date}"></span>
			    	<span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" th:style="'color:red'"></span>
			    </h3>
			    <h3>
			    	<span>Descrizione:</span><br>
			    	<span><textarea type="text" th:field="${work.description}"></textarea></span>
		    		<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:style="'color:red'"></span>
			    </h3>
			
			    <div class="submit">
			    	<span><button type="submit">Invia</button></span>
			    </div>
			</div>
			
			<div>
			    <label>
                    Aggiungi immagine (.jpg o .png)
                    <input required type="file" name="fileImage" accept="image/png, image/jpeg" onchange="updatePreview(this, 'preview')" />
                </label>
                <div>
                    <img id="preview" src="/images/placeholder2.png" alt="preview" />
                </div>
            </div>
		</form>
		
	</body>
	
</html>