<!DOCTYPE html>
<html>
	
	<head>
		<title>Opera</title>
		<link rel="stylesheet" href="/css/entity.css" />
	</head>
	
	<body>
		<header>
			<div class="header_text" th:if="${userDetails}">
				<div><a th:href="@{'/userPage/' + ${userDetails.username}}" th:text="${userDetails.username}"></a></div>
			</div>
			<div class="header_text" th:if="${userDetails}">
				<div><a href="/logout">Logout</a></div>
			</div>
			<div class="header_text" th:unless="${userDetails}">
				<a href="/login">Login</a>
			</div>
			<div class="header_image">
				<a href="/"><img src="/images/Oil-Fall.jpg" alt="fall"></a>
			</div>
		</header>
		
		<a class="back" th:href="@{/works}">Torna all'indice</a>
		
		<h3>Dettagli Opera</h3>
		<div th:if="${work}">
			
			<!-- Info sull'Opera -->
		    <div class="info">
			    <div class="title">
		            <span class="name" th:text="${work.name} + '(' + ${work.date} + ')'">Nome Opera (XXXX)</span>
		            <span th:if="${userDetails}">
					    <span th:unless="${#lists.contains(favorites, work)}">
						    <form th:action="@{'/addWorkToFavorites/' + ${work.id} + '/' +${userDetails.username}}" method="POST">
							    <button type="submit"><img src="/images/fav.png" alt="add to favs"></button>
						    </form>
					    </span>
					    <span th:if="${#lists.contains(favorites, work)}">
						    <form th:action="@{'/removeWorkFromFavorites/' + ${work.id} + '/' +${userDetails.username}}" method="POST">
							    <button type="submit"><img src="/images/faved.png" alt="remove from favs"></button>
						    </form>
					    </span>
		            </span>
		            <span class="message" th:text="${message}">Opera aggiunta/rimossa dalle preferite!</span>
		        </div>
		        <div th:class="data">
					<div>
		                <br><img th:src="@{${work.imagePath}}"><!-- URL -->
		            </div>
		            <div>
		                <br><span th:unless="${#lists.isEmpty(work.description)}" th:text="${work.description}">Descrizione Opera</span>
		            </div>
		        </div>
		    </div>
		
		    <!-- Movimento di appartenenza dell'Opera -->
		    <div class="list_name" th:if="${work.movement}">
			    <h3>Movimento di appartenenza: </h3>
			    <div class="worksMovement">
			        <span th:text"${work.movement}">
				        <h2>
							<span th:text="${work.movement.name}">Nome Movimento</span>
				            <span th:if="${work.movement.endDate}" th:text="${'(~' + work.movement.startDate} + ' - ~' + ${work.movement.endDate} + ')'">(~XXXX - ~YYYY)</span>
			                <span th:unless="${work.movement.endDate}" th:text="'(~' + ${work.movement.startDate} + '- Contemporaneo)'">(~XXXX - Contamporaneo)</span>
			            </h2>
			        </span>
			    </div>
			    
			    <div class="mainWorksParent">
			        <ul class="mainWorks">
			            <li th:each="work : ${work.movement.mainWorks}">
							<div>
			                    <img th:src="@{${work.imagePath}}">
			                </div>
		                </li>
		            </ul>
		        </div>
		    </div>
		    <div class="na" th:unless="${work.movement}">Quest'Opera non e' stata assegnata ad un Movimento</div><br>
		    <!-- Gestione Movimento -->
		    <div th:if="${userDetails}">
			    <div th:each="authority : ${#authentication.getAuthorities()}">
			        <div th:if="${authority.getAuthority().equals('ADMIN')}">
				        <form th:action="@{'/changeWorkMovement/' + ${work.id}}" method="POST">
			                <span><button class="button" type="submit">Cambia Movimento dell'Opera</button></span>
		                </form>
			        </div>
			    </div>
		    </div>
		
		    <!-- Artefici dell'Opera -->
		    <div class="list_name" th:unless="${#lists.isEmpty(work.makers)}"><h3>Opera di:</h3></div>
		    <div class="na" th:if="${#lists.isEmpty(work.makers)}">Non e' stato assegnato un creatore a quest'Opera</div>
		    <ul>
		        <li th:each="artist : ${work.makers}">
		            <a th:href="@{'/artists/' + ${artist.id}}"
			           th:text="${artist.name}">Nome Artista</a>
			        <span th:if="${artist.death}" th:text="${'(' + artist.birth} + '-' + ${artist.death} + ')'">(XXXX-YYYY)</span>
			        <span th:unless="${artist.death}" th:text="'(' + ${artist.birth} + '-In Vita)'">(XXXX-In Vita)</span>
			        <div th:if="${artist.image}">
			            <br><img th:src="@{${artist.imagePath}}">
			        </div>
		        </li>
	        </ul>
	        <!-- Gestione Artisti -->
	        <div th:if="${userDetails}">
			    <div th:each="authority : ${#authentication.getAuthorities()}">
			        <div th:if="${authority.getAuthority().equals('ADMIN')}">
				        <form th:action="@{'/manageWorkArtists/' + ${work.id}}" method="POST">
			                <span><button class="button" type="submit">Gestisci gli Artefici dell'Opera</button></span>
		                </form>
			        </div>
			    </div>
		    </div>
		
		
		
		    <!-- Form per commentare -->
		    <div class="spaceMaker"></div>
			<div th:if="${userDetails}">
				<div class="newComment">
				    <form th:action="@{'/addCommentToWork/' + ${userDetails.username} + '/' + ${work.id}}" method="POST">
						<div class="newComment_info">
							<textarea required placeholder="Lascia un commento" th:name="text"></textarea><br>
				            <button class="button" type="submit">Invia</button>
				        </div>
				    </form>
				</div>
			</div>
		    
		    <!-- Commenti -->
		    <div class="na" th:if="${#lists.isEmpty(comments)}">Nessun commento</div>
		    <div th:unless="${#lists.isEmpty(comments)}">
			    <h3>Commenti</h3>
			    <div th:each="comment : ${comments}">
				    <div class="comment">
					    <div class="comment_data">
				            <span class="comment_time" th:text="${comment.time}">Data</span>
			                <a th:href="@{'/userPage/' + ${comment.username}}"><span class="comment_username" th:text="${comment.username}">User</span></a>
			                <span class="comment_image">
			                    <span th:if="${comment.avatarPath}"><img th:src="@{${comment.avatarPath}}"></span>
			                    <span th:unless="${comment.avatarPath}"><img src="/images/Oil-Fall.jpg"></span>
			                </span>
			            </div>
			            <div class="comment_text">
			                <span th:text="${comment.comment}">Commento sull'opera</span>
			            </div>
			        </div>
			        <!-- Per rimuovere il commento -->
			        <div class="remove_comment" th:each="authority : ${#authentication.getAuthorities()}">
			            <div th:if="${authority.getAuthority().equals('ADMIN')}">
				            <form th:action="@{'/removeCommentFromWork/' + ${comment.id} + '/' + ${work.id}}" method="POST">
				                <span><button class="button" type="submit">Rimuovi Commento</button></span>
			                </form>
			            </div>
			        </div>
			    </div>
		    </div>
		
		</div>
		
	</body>
	
</html>