<!DOCTYPE html>
<html>
	<head>
		<title>Artista</title>
		<link rel="stylesheet" href="/css/management/data.css" />
	</head>
    
    <body>
		<header>
		    <div th:if="${userDetails}">
			    <span><a th:href="@{'/userPage/' + ${userDetails.username}}" th:text="${userDetails.username}"></a></span>
			    <a href="/logout">Logout</a>
		    </div>
		    <div th:unless="${userDetails}">
			    <a href="/login">Login</a>
		    </div>
		    <div class="homepage">
				<a href="/"><img src="/images/ciak.png"></a>
			</div>
	    </header>
		
		<div class="data">
		
		    <div>
	            <h3 th:text="'Nome: '">Nome: </h3>
		        <h3 class="var" th:text="${artist.name}">Nome Artista</h3>
		        <form th:action="@{'/setArtistName/' + ${artist.id}}" method="POST">
		    	    <span><input required type="text" name="name"></span>
                    <button type="submit">Cambia</button>
	    	    </form>
	    	</div>
		
	    	<div>
	    		<h3 th:text="'Cognome: '">Cognome: </h3>
		        <h3 class="var" th:text="${artist.surname}">Cognome Artista</h3>
		        <form th:action="@{'/setArtistSurname/' + ${artist.id}}" method="POST">
		        	<span><input required type="text" name="surname"></span>
                    <button type="submit">Cambia</button>
		        </form>
	    	</div>
		
	    	<div>
	    		<h3 th:text="'Anno di nascita: '">Anno di nascita: </h3>
	    	    <h3 class="var" th:text="${artist.birth}">XXXX</h3>
		        <form th:action="@{'/setArtistBirth/' + ${artist.id}}" method="POST">
		        	<span><input required type="number" name="birth"></span>
                    <button type="submit">Cambia</button>
            
                    <span th:if="${birth_error}" th:text="${birth_error}">Eventuali errori relativi all'anno di nascita</span>
		        </form>
		    </div>
		
		    <div>
		    	<h3 th:text="'Anno di morte: '">Anno di morte: </h3>
		        <h3 class="var" th:unless="${artist.death}" th:text="'Non assegnato'">Non assegnato</h3>
		        <h3 class="var" th:if="${artist.death}" th:text="${artist.death}">YYYY</h3>
		        <form th:action="@{'/setArtistDeath/' + ${artist.id}}" method="POST">
		        	<span><input type="number" name="death"></span>
                    <button type="submit">Cambia</button>
            
                    <span th:if="${death_error}" th:text="${death_error}">Eventuali errori relativi all'anno di morte</span>
		        </form>
		    </div>
		
		    <form th:action="@{'/formUpdateArtist/' + ${artist.id}}" method="GET">
                <div>
                    <span><button type="submit">Termina Modifica</button></span>
                </div>
            </form>
		
		</div>
		
	</body>
</html>