<!DOCTYPE html>
<html>
    <head>
        <title>Artisti</title>
        <link rel="stylesheet" href="/css/list.css" />
    </head>

    <body>
		<header>
		    <div th:if="${userDetails}">
			    <span><a th:href="@{'/userPage/' + ${userDetails.username}}" th:text="${userDetails.username}"></a></span>
			    <a href="/logout">Logout</a>
		    </div>
		    <div th:unless="${userDetails}">
			    <a href="/login">Login</a>
		    </div>
		    <div class="homepage">
				<a href="/"><img src="/images/ciak.png"></a>
			</div>
	    </header>
	    
	    <h4 class="goBack"><a href="/indexArtist">Indice Artisti</a></h4>
		
        <h1>Artisti</h1>
        
        <form th:action="@{'/searchManageArtists'}" method="POST">
			<input type="text" name="input" placeholder="Cerca per nome">
			<span><button type="submit">Cerca</button></span>
		</form>
        
        <div class="na" th:if="${artists.isEmpty()}">Nessun artista trovato</div>
        <ul class="elements">
            <li th:each="artist : ${artists}">
				
				<h3 th:unless="${artist.death}">
                    <a th:href="@{'/artists/' + ${artist.id}}"
                       th:text="${artist.name} + ' ' + ${artist.surname} + ' (' + ${artist.birth} + '-In vita)'">Nome Cognome (XXXX-In vita)</a>
                </h3>
                <h3 th:if="${artist.death}">
                    <a th:href="@{'/artists/' + ${artist.id}}"
                       th:text="${artist.name} + ' ' + ${artist.surname} + ' (' + ${artist.birth} + '-' + ${artist.death} + ')'">Nome Cognome (XXXX-YYYY)</a>
                </h3>
			    <img th:src="@{${artist.imagePath}}">
			        
			    <div class="buttons">
				    <form class="entityButton" th:action="@{'/formUpdateArtist/' + ${artist.id}}" method="GET">
                         <span><button type="submit">Gestisci</button></span>
                    </form>
                
                    <form class="entityButton" th:action="@{'/deleteArtist/' + ${artist.id}}" method="POST">
                        <span><button type="submit">Rimuovi</button></span>
                    </form>
                </div>
                
            </li>
        </ul>
        
    </body>
    
</html>